#body{
    margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

header {
    text-decoration: none;
	width: 100%;
	height: 9vh;
	background-color: rgb(88, 82, 82);
}

.menu-content {
	text-transform: uppercase;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 1.8rem;
}

.logo {
	font-size: 1.8rem;
	letter-spacing: 0.4rem;
	cursor: pointer;
}

.menu-content .list-items {
	display: flex;
	list-style: none;
	gap: 20px;
}

.menu-content .list-items a {
	text-decoration: none;
	color: white;
	padding: 1.5rem;
	transform: 2ms ease-in;
	position: relative;
}

footer{
    bottom: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 30px;
    color: #fff;
    margin-top: 100vh;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
	line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.tennis-card {
    display: flex;
    align-items: center;
    width: 300px;
    height:300px;
    padding: 10px;
    background-color:#f5f5f5;
    box-shadow: 1px 15px 30px rgba(92, 91, 91, 0.2);  
  }
  .tennis-card:hover {
    border: 1px solid #adadad;
  }
  #imgcab{
    margin-bottom:1.1rem;
  }
  
  .tennis-card img {
    width: 200px;
    height: auto;
    object-fit: cover;
    margin-left:3rem;
  }
  
  .tennis-card .info {
    flex-grow: 1;
  }
  
  .tennis-card h2 {
    margin: 0;
    font-size: 18px;
    text-align:center
  }
  
  .tennis-card p {
    margin: 0;
    font-size: 14px;
    color: #3baa1f;
    text-align:center;
    
  }

  #btnComprar{
    border:none;
    background-color:rgb(117, 106, 106);
    color:white;
    text-align:center;
    padding-right:235px;
    padding-bottom:15px;
    padding-top:15px;
    margin-top:15px;
    border-radius:3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    font-size: 15px;
  }

